{% extends "incident_response_base.html" %}
{% load static %}

{% block extra_head %}

    <link rel="stylesheet" href="{% static 'incident/incident.css' %}">

{% endblock %}

{% block content %}

    
    <div>
        <h1 class="text-center">Incidents</h1>
        <div>
            {% for incident in incidents %}
                <article>{{ incident.name }}</article>
            {% empty %}
                <article>No books available.</article>
            {% endfor %}
        </div>
    </div>


{% endblock%}