{% extends "incident_response_base.html" %}
{% load static %}

{% block extra_head %}

    <link rel="stylesheet" href="{% static 'incident/incident.css' %}">

{% endblock %}

{% block content %}

    
    <div>
        <form>
            <fieldset>
                <label>
                    Name
                    <input type="text"/>
                </label>
                <label>
                    Type
                    <input type="text"/>
                </label>
                <label>
                    Location
                    <input type="text"/>
                </label>
            </fieldset>

            <input 
            type="text"
            value="Submit"/>
        </form>
    </div>


{% endblock%}